# ANSWERS - Classwork 2

In [19]:
i = 5
# Nothing

In [20]:
print(5 * 5)
# 25

25

In [23]:
print(i)
# 5

5

In [22]:
print("i")
# i

i

In [ ]:
print("cat" + "dog")
# catdog

In [ ]:
print("cat", "dog")
# cat dog

In [ ]:
print("cat", "dog", 3, 4, 5, 6)
# cat dog 3 4 5 6

In [24]:
print("i")
# i

i

In [38]:
print(5 + "5")
# Do we want 55, 10 or 5(space)5

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
print(5+5)
# 10

10

In [27]:
print("5" + "5")
# 55

55

In [28]:
print(5, "5")
# 5 5

5 5

In [29]:
print("5 + 5")
# 5 + 5

5 + 5

In [30]:
print(5 + int("5"))
# "casting" a string to an integer
# or converting a str to int
# 10

10

In [31]:
print(str(5) + "5")
# 55

55

In [33]:
print("Hello")
# Hello

Hello

In [34]:
Hello = "Yip"
print(Hello)
# Yip

Yip

In [ ]:
Name = "Yip"
name = "Yip"

```
YearOfBirth
# JavaScript developer
yearOfBirth 
# Python developer
year_of_birth
yearofbirth # ugly
```

In [36]:
# make n equal to 2.
n = 2

# Is n equal to 2?????
n == 2

if n == 2:
    print("two")

two

## LIST QUESTIONS

### 1) Make a list called "countries" - it should contain seven different countries and NOT be in alphabetical order

In [1]:
countries = ["Ghana", "Peru", "Austria", "Korea", "Australia", "Mexico", "Italy"]

### 2) Using a for loop, print each element of the list

In [2]:
for country in countries:
  print(country)

Ghana
Peru
Austria
Korea
Australia
Mexico
Italy

### 3) Sort the list permanently.
#### There are two ways to do this! They work the same.

In [3]:
# Version 1: Use a function and save it back into the countries variable

countries = sorted(countries)

In [4]:
# Version 2: Use a method that permanently sorts the variable

countries.sort()

for country in countries:
  print(country)

Australia
Austria
Ghana
Italy
Korea
Mexico
Peru

### 4) Display the first element of the list.

In [5]:
print(countries[0])

Australia

### 5) Display the second-to-last element of the list.
#### Negatives start from the end of the list

In [6]:
print(countries[-2])

Mexico

### 6) Delete one of the countries from the list using its name.

In [7]:
print("BEFORE:", countries)
countries.remove("Australia")
print("AFTER:", countries)

BEFORE: ['Australia', 'Austria', 'Ghana', 'Italy', 'Korea', 'Mexico', 'Peru']
AFTER: ['Austria', 'Ghana', 'Italy', 'Korea', 'Mexico', 'Peru']

### 7) Using a for loop, print each country's name in all caps.

In [8]:
for country in countries:
  print(country.upper())

AUSTRIA
GHANA
ITALY
KOREA
MEXICO
PERU

## DICTIONARY QUESTIONS

These will require LATITUDE and LONGITUDE. You can ask Google for latitude and longitude by typing in *coordinates of CITYNAME*. You can also use http://itouchmap.com/latlong.html. Store the latitude and longitude without the N/S/E/W - if the latitude is S, make it negative. If the longitude is W, make it negative. See here for explanation: https://answers.yahoo.com/question/index?qid=20080211182008AAMdUe8

### 1) Make a dictionary called 'tree' that responds to 'name', 'species', 'age', 'location_name', 'latitude' and 'longitude'. Pick a tree from: https://en.wikipedia.org/wiki/List_of_trees

In [9]:
tree = {
  'species': 'Chinkapin Oak',
  'name': 'Sacred Oak',
  'age': 500,
  'location_name': 'Oley Valley, Pennsylvania, US',
  'latitude': 40.336,
  'longitude': -75.927
}

### 2) Print the sentence "{name} is a {years} year old tree that is in {location_name}"

In [10]:
# Version 1

print(tree['name'], "is a", tree['age'], "year old tree that is in", tree['location_name'])

Sacred Oak is a 500 year old tree that is in Oley Valley, Pennsylvania, US

In [11]:
# Version 2

sentence = "{} is a {} year old tree that is in {}".format(tree['name'], tree['age'], tree['location_name'])
print(sentence)

Sacred Oak is a 500 year old tree that is in Oley Valley, Pennsylvania, US

In [12]:
# Version 3

sentence = "{name} is a {age} year old tree that is in {location_name}".format(name=tree['name'], age=tree['age'], location_name=tree['location_name'])
print(sentence)

Sacred Oak is a 500 year old tree that is in Oley Valley, Pennsylvania, US

In [13]:
# Version 4

sentence = "{name} is a {age} year old tree that is in {location_name}".format(**tree)
print(sentence)

Sacred Oak is a 500 year old tree that is in Oley Valley, Pennsylvania, US

### 3) The coordinates of New York City are 40.7128° N, 74.0059° W. Check to see if the tree is south of NYC, and print "The tree {name} in {location} is south of NYC" if it is. If it isn't, print "The tree {name} in {location} is north of NYC"

In [14]:
nyc_latitude = 40.7128
if tree['latitude'] < nyc_latitude:
  print("The tree {name} in {location_name} is south of NYC".format(**tree))
else:
  print("The tree {name} in {location_name} is north of NYC".format(**tree))

The tree Sacred Oak in Oley Valley, Pennsylvania, US is south of NYC

### 4) Ask the user how old they are. If they are older than the tree, display "you are {XXX} years older than {name}." If they are younger than the tree, display "{name} was {XXX} years old when you were born."

In [15]:
# age = input("How old are you? ")
age = "35" # Fake input
age = int(age)

# You can build these sentences any of the ways above,
# just pick what's most understandable
# Why do I not store age - tree['age'] in a variable?
# ...no good reason, just didn't seem worth it

if age > tree['age']:
  print("You are", age - tree['age'], "years older than", tree['name'])
else:
  print(tree['name'], "was", tree['age'] - age, "years old when you were born")

Sacred Oak was 465 years old when you were born

## LIST OF DICTIONARIES

### 1) Make a list of dictionaries of five places across the world - (1) Moscow, (2) Tehran, (3) Falkland Islands, (4) Seoul, and (5) Santiago. Each dictionary should include each city's name and latitude/longitude (see note above).

In [16]:
places = [{
  'name': 'Moscow',
  'latitude': 55.7558,
  'longitude': 37.6173
}, {
  'name': 'Tehran',
  'latitude': 35.6892,
  'longitude': 51.3890
}, {
  'name': 'Falkland Islands',
  'latitude': -51.7963,
  'longitude': -59.5236
}, {
  'name': 'Seoul',
  'latitude': 37.5665,
  'longitude': 126.9780
}, {
  'name': 'Santiago',
  'latitude': -33.4489,
  'longitude': -70.6693
}]

### 2) Loop through the list, printing each city's name and whether it is above or below the equator (How do you know? Think hard about the latitude.). When you get to the Falkland Islands, also display the message "The Falkland Islands are a biogeographical part of the mild Antarctic zone," which is a sentence I stole from Wikipedia.

In [17]:
for place in places:
  if place['latitude'] > 0:
    print(place['name'], "is above the equator")
  elif place['latitude'] < 0:
    print(place['name'], "is below the equator")
  else:
    print(place['name'], "is on the equator")
  if place['name'] == 'Falkland Islands':
    print("The Falkland Islands are a biogeographical part of the mild Antarctic zone")

Moscow is above the equator
Tehran is above the equator
Falkland Islands is below the equator
The Falkland Islands are a biogeographical part of the mild Antarctic zone
Seoul is above the equator
Santiago is below the equator

### 3) Loop through the list, printing whether each city is north of south of your tree from the previous section.

In [18]:
tree = {
  'species': 'Chinkapin Oak',
  'name': 'Sacred Oak',
  'age': 500,
  'location_name': 'Oley Valley, Pennsylvania, US',
  'latitude': 40.336,
  'longitude': -75.927
}

for place in places:
  if place['latitude'] > tree['latitude']:
    print(place['name'], "is north of", tree['name'])
  elif place['latitude'] < tree['latitude']:
    print(place['name'], "is south of", tree['name'])
  else:
    print(place['name'], "is at the same latitude as", tree['name'])

Moscow is north of Sacred Oak
Tehran is south of Sacred Oak
Falkland Islands is south of Sacred Oak
Seoul is south of Sacred Oak
Santiago is south of Sacred Oak

---
###### Crediting the original author from Columbia's Graduate School of Journalism's The Lede Program.